
.gamesContainer
{

    display: flex;
    flex-direction: row;
    width: 1100px;
    gap:100px;
    margin: 100px auto;
}
.game{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 400px;
    background-color: rgba(92, 85, 85, 0.2);
    font-weight: 400px;
    font-size: 36px;
    border-radius: 50px;
}