.players
{
    display: flex;
    justify-content: space-around;
}
.buttonsContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}
.gameHeader
{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.gameBtnImg
{
    width: 140px;
    height: 140px;
    
}
.headerImg
{
    width: 225px;
    height: 225px;
}
.headerText
{
    font-size: 96px;
    text-align: center;
    width: 100%;
    position: absolute;
}
.Btn
{
    padding: 0;
    margin:0;
    border: none;
    outline: none;
    background-color: #D9D9D9;
    width: 225px;
    height: 225px;
    border-radius: 100%;
}