.players
{
    display: flex;
    justify-content: space-around;
}
.buttonsContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    width: 100%;
    position: fixed;
    bottom: 20px;
    

}
.menuButton
{
    background-color: transparent;
    border: none;
    margin-bottom: 100px;
    margin-left: -80px;
    cursor: pointer;
    border-radius: 32px;
    width: 375px;
    height: 85px;
    font-size: 64px;
    font-weight: bold;

    transition: background-color 200ms ease-in-out, transform 100ms ease-in-out;
    z-index: 1;
}
.gameHeader
{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 225px;

}
.scoreText
{
    font-size: 96px;
    text-align: center;
    width: 100%;
    position: absolute;
    top:200px;
}
.selectBtn
{
    background-color: #009DFF;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 32px;
    width: 375px;
    height: 85px;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    transition: background-color 200ms ease-in-out, transform 100ms ease-in-out;
    z-index: 1;
}
.BtnContainer{
    display: flex;

}
.selectBtn:hover
{
    background-color: #74B1D7;
}
.selectBtn:active
{
    transform: scale(0.98);
}
.selectBtn:disabled
{
    background-color: #74B1D7;
}

.gameBtnImg
{
    width: 225px;
    height: 225px;
    position: absolute;
    
    
}
.headerImg
{
    width: 225px;
    height: 225px;
    z-index: 1;
    transition: 200ms ease-in-out;
    cursor: pointer;
}
.headerImg:hover{
    scale:1.1;
}
.headerImg:active
{
    scale:0.98;
}
.headerText
{
    font-size: 96px;
    text-align: center;
    width: 100%;
    position: absolute;
}
.Btn
{
    padding: 0;
    margin:0;
    border: none;
    outline: none;
    background-color: #D9D9D9;
    width: 225px;
    height: 225px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Btn:disabled
{
    cursor: default;
}
.Unactive
{
    position: absolute;
    width: 225px;
    height: 225px;
    z-index: 1;

    border-radius: 100%;
    background-color: rgba(63, 63, 63, 0.44);
    transition: opacity 200ms ease-in-out;
}
.Unselect-enter
{
    opacity: 0;
}
.Unselect-enter-active
{
    opacity: 1;
    transition: opacity ease-in-out 300ms;
}
.Unselect-exit
{
    opacity: 1;
}
.Unselect-exit-active
{
    opacity: 0;
    transition: opacity ease-in-out 300ms;
}
